{% extends 'core/base.html' %} {% block content%}
<main class="profile">
  <div class="profile__user">
    {% if user.is_authenticated %}
    <figure>
      <figcaption>{{ user.username }}</figcaption>
    </figure>
    <p>Email: {{ user.email }}</p>
    {% endif %} Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Cupiditate magnam at eius suscipit, incidunt autem. Sunt doloribus obcaecati
    dolores nemo excepturi. Cum, doloremque! Aut, soluta in! Doloremque
    doloribus voluptate ipsam.
  </div>

  <!-- Notes -->
  <div>
    <h3 class="notes-title text-center">My Notes</h3>
    {% for note in notes %}
    <div class="note-card">
      <div class="note-card__head">
        <h4>
          <a class="note-card__link" href="{% url 'note' note.id %}"
            >{{ note.title }}</a
          >
        </h4>
        <p class="note-card__date">{{ note.date_posted|date:"F, d, Y" }}</p>
      </div>
      <p>{{ note.content }}</p>
    </div>
    {% endfor %}
  </div>

  <!-- Create Note Form -->
  <div class="create-post">
    <form class="note-form" method="post" action="{% url 'profile' %}">
      <legend>Create Note</legend>
      {% csrf_token %} {{ form.title }} {{ form.content }}
      <button class="button" type="submit">Create</button>
    </form>
  </div>
</main>
{% endblock %}
