{% extends 'core/base.html' %} {% block content%}
<main>
  <h1>About Urania</h1>
  <p>
    Welcome to Urania, your celestial guide to the wonders of the universe! At
    Urania, we are passionate about bringing the marvels of astronomy closer to
    you, providing a hub for stargazers, enthusiasts, and curious minds alike.
  </p>

  <h2>Our Mission</h2>
  <p>
    Our mission at Urania is to ignite and nurture a love for astronomy, making
    the vastness of the cosmos accessible to everyone. Whether you're a seasoned
    astronomer or just starting to explore the night sky, Urania is your go-to
    source for celestial knowledge and inspiration.
  </p>

  <h2>Discover the Stars</h2>
  <p>
    Explore our extensive collection of articles, guides, and resources that
    cover a wide range of topics, from the basics of stargazing to in-depth
    profiles of distant galaxies. We strive to make complex astronomical
    concepts understandable and share the latest discoveries from the world of
    astrophysics.
  </p>

  <h2>Join Our Community</h2>
  <p>
    Connect with fellow astronomy enthusiasts in our vibrant community. Share
    your observations, ask questions, and engage in discussions about the
    mysteries of the cosmos. Whether you're a beginner or an expert, there's a
    place for you in the Urania community.
  </p>

  <h2>Stay Updated</h2>
  <p>
    Keep up-to-date with the latest celestial events, astronomical phenomena,
    and space missions. Our regularly updated news section ensures you're
    informed about upcoming meteor showers, planetary alignments, and other
    celestial spectacles.
  </p>

  <h2>Contact Us</h2>
  <p>
    Have questions or suggestions? We'd love to hear from you! Reach out to us
    through our contact page, and let's explore the wonders of the universe
    together.
  </p>

  <p>
    Thank you for joining us on this cosmic journey at Urania. Happy stargazing!
  </p>
</main>
{% endblock %}
