{% extends 'core/base.html' %} {% block content%}
<main>
  <section class="home-section">
    <h1 class="text-center text-white display-5 text-bold">Urania</h1>
    <p class="text-center text-white display-2 text-bold">
      Explore the stars and celestial bodies.
    </p>
  </section>

  {% load static %}
  <h3 class="title text-center display-2">Our Services</h3>
  <section class="services-section">
    <!-- Explore Service -->
    <div class="card">
      <figure class="card__figure">
        <img
          src="{% static 'core/assets/icons/Telescope.svg' %}"
          alt="Telescope"
        />
        <figcaption class="display-1">Explore</figcaption>
      </figure>
      <div class="card__body">
        <p>
          Embark on a celestial journey with our state-of-the-art telescopes.
          Discover the wonders of the universe as you explore distant galaxies,
          nebulae, and celestial bodies. Uncover the mysteries of the cosmos and
          witness the beauty of the night sky like never before.
        </p>
        <span class="read-more"><a href="#">read more</a></span>
      </div>
    </div>

    <!-- Study Service -->
    <div class="card">
      <figure class="card__figure">
        <img
          src="{% static 'core/assets/icons/Information.svg' %}"
          alt="Telescope"
        />
        <figcaption class="display-1">Study</figcaption>
      </figure>
      <div class="card__body">
        <p>
          Immerse yourself in the vast knowledge of astronomy with our
          comprehensive study materials. From in-depth articles to interactive
          courses, broaden your understanding of celestial phenomena and
          scientific discoveries. Ignite your curiosity and deepen your
          connection to the cosmos.
        </p>
        <span class="read-more"><a href="#">read more</a></span>
      </div>
    </div>

    <!-- Find Service -->
    <div class="card">
      <figure class="card__figure">
        <img
          src="{% static 'core/assets/icons/Planets.svg' %}"
          alt="Telescope"
        />
        <figcaption class="display-1">Find</figcaption>
      </figure>
      <div class="card__body">
        <p>
          Navigate the cosmos and locate your favorite celestial bodies
          effortlessly. Our advanced tools and guides empower you to find
          planets, stars, and constellations with ease. Whether you're a
          seasoned astronomer or a beginner, let us guide you on a journey to
          discover the wonders of the universe.
        </p>
        <span class="read-more"><a href="#">read more</a></span>
      </div>
    </div>
  </section>

  <section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat saepe
    laborum molestias dicta, iure fuga odit, nemo sed, accusantium consequuntur
    magni soluta quo unde dolor ad expedita tempore. Ad, harum!
  </section>

  <section class="showcase" loading="lazy"></section>
  <section class="contact-section">
    <h3 class="text-center">Contact Us</h3>
    <p class="text-center">
      Fan of astronomy? Have anything to ask? Drop a note!
    </p>
  </section>

  <section>
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39760.21154531331!2d-0.0426645264641596!3d51.47627161244597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a82a8ca9dca7%3A0x31abb25f451c8402!2s%C4%B0ngiltere%20Kraliyet%20Rasathanesi!5e0!3m2!1str!2str!4v1701100748266!5m2!1str!2str"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
</main>
{% endblock %}
