@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import "./_variables.scss";
@import "./utils.scss";
@import "./breakpoints.scss";

.navbar {
  background-color: $midnight-blue;
  color: $font-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  &__list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-right: 1rem;

    @media (max-width: $laptop) {
      display: none;
    }
  }

  &-link {
    text-decoration: none;
    color: $font-white;
    padding: 0.25rem;
    margin-right: 1rem;
  }
}

.logo {
  font-family: "Rancho", cursive;
  letter-spacing: 0.1618rem;
  font-size: 2.25rem;
  margin-left: 1rem;
}
