
// Brand Colors
$pinkish-purple: #bf8494;
$midnight-blue: #2e3559;
$deep-azure: #2e578c;
$steel-teal: #6a9ba6;
$peachy-salmon: #f29985;

$font-white: #fff7f5;

// Message tags
$success: #b1eea7;
$warning: #F0EF87;
$error: #F08688;
$info: #86C8F0;

// Sizes
$mobile-md: 23.4375em; 
$mobile-lg: 26.5625em;
$tablet: 47.99em;
$laptop: 63.99em;