@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./_variables.scss";
@import "./_navbar.scss";
@import "./utils.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
}

.home-section {
  @include d-flex-center(column);
  width: min-content(100%, 1000px);
  height: 94vh;
  background-image: url("../assets/header-bg.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  height: auto;
  padding: 1rem;

  @include breakpoints-down(medium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
}

.card {
  background-color: $font-white;
  display: flex;
  flex-flow: column wrap;
  border: 0.0625rem solid $midnight-blue;
  border-radius: 0.5rem;
  padding: 1rem;
  width: min(100%, 30em);

  &__figure {
    @include d-flex-center(column);
    img {
      width: 5rem;
      height: 5rem;
    }
  }
}
